* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial Narrow;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.full-section {
    height: 100vh;
    display: flex;
    /* background-color: black; */
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.top-div {
    flex: 1.5;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* background-color: yellow; */
}

.mid-div {
    flex: 3;
    display: flex;
    flex-direction: column;
    width: 380px;
    font-size: 20px;
    /* border: 1px; */
    border-color: rgb(252, 251, 251);
    background-color: rgb(246, 247, 248);
}

.bottom-div {
    flex: 2;
    width: 800px;
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 20px;
    /* background-color: brown; */
}

.bottom-div a {
    color: black;
}

.bottom-div a:hover {
    color: blue;
}

.user-input {
    flex: 4;
    border-radius: 5px;
    line-height: 1.7;
    border-radius: 8px;
    padding: 16px;
    border: 2px solid lightblue;
    /* background-color: pink; */
}

 input {
    border-radius: 8px;
    line-height: 3;
    display: block;
    width: 100%;
    border: 2px solid lightblue;
}

.mid-down {
    flex: 1;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid lightblue;
    /* background-color: pink; */
}

.pswd {
    display: flex;
    justify-content: space-between;
    line-height: 3;
}

.pswd a:hover {
    text-decoration: none;
}

.sign-box {
    font-weight: 600;
    background-color: rgb(21, 135, 21);
    border: none;
}

