* {
    margin: 0;
    padding: 0;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.full-section {
    height: 100vh;
    display: flex;
    max-width: 80%;
    min-width: 20%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.mid-div {

    border: 1px;
    border-color: rgb(252, 251, 251);
}

.user-input {
    border-radius: 5px;
    background-color: red;
    padding: 16px;
}

.pswd {
    display: flex;
    justify-content: space-between;
}

input {
    display: block;
    width: 100%;
}

.sign-box {
    background-color: rgb(4, 179, 4);
}

.mid-down {
    background-color: red;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

