* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    /* width: 100%; */
    background-color: #f3f4f6;
}

.login-form {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
    background-color: white;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.login-form h1 {
    font-size: 2rem;
    color: #030303;
    margin-bottom: 0.5rem;
    width: 400px;
}

.login-form p {
    color: #666;
    margin-bottom: 1.5rem;
}

.login-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

.login-form input {
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    padding: 0.75rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #45a049;
}

.signup-link {
    margin-top: 1rem;
    color: #666;
    font-size: 0.9rem;
}

.signup-link a {
    color: #4CAF50;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* Right Side: Image Section */
.image-container {
    flex: 4;
    background-color: #f7f7f9;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}