.img-session {
    flex: 1.17;
    background-image: url(pics/wema_bg_img.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}

.relative {
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 12%;
}

.lets-talk {
    font-size: 14px;
    line-height: 1.6;
    padding-bottom: 30px;
    font-weight: 400;
}

.lets-talk p {
    font-size: 19px;
    font-weight: 100;
}

.contact {
    display: flex;
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 100;
}

.contact a {
    padding-left: 20px;
    color: white;
    text-decoration: none;
}

.img img {
    width: 400px;
}
