* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Proxima Nova, sans-serif;
}

.full-session {
    display: flex;
    height: 100vh;
}

.login-session {
    flex: 1;
    display: flex;
    width: 100vw;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.img-session {
    flex: 1.2;
    background-color: brown;
}

.top-right-session {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 70%;
    /* background-color: lightblue; */
}

.top-session {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
}

.inner-top-session {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #ab2656;
    font-size: 20px;
}

.inner-bottom-session {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 20px;
}

.inner-bottom-session h2 {
    /* padding-left: 80px; */
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    padding: 6px 16px;
    /* padding-top: 20px; */
}

.box {
    display: block;
    background-color: rgb(171 11 75);
    height: 0.25rem;
    width: 2.5rem;
    margin-top: .75rem;
}

.middle-session {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 0 10px;
    /* background-color: blueviolet; */
}

input, button {
    line-height: 2.5;
    border-radius: 7px;
    margin: 7px 0;
    padding-bottom: 5px;
    font-size: 20px;
}

.mail {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.fpswd {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-size: 20px;
}

.pswd {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-top: 5px;
    padding-bottom: 15px;
}

.login-btn {
    margin-top: 45px;
    line-height: 2.5;
    color: #f2f2f2;
    vertical-align: top;
    font-family: Proxima Nova, sans-serif;
    background-color: #ab2656;
}

.sign-up {
    color: #4D4D4D;
    text-align: center;
    margin-top: 15px;
}

.bottom-right-session{
    flex: 0.1;
    width: 100%;
    /* background: lightgreen; */
}