* {
    margin: 0;
    padding: 0;
    font-family: Proxima Nova, sans-serif;
}

.icon {
    fill:  #ab2656;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.3928571428571428rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.bigger-div {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

/* @media screen and (min-width: 100px) {
    .left-div {
        background-color: yellow;
    }
} */


.left-div {
    display: flex;
    height: 100vh;
    flex: 55%;
    background-color: #ab2656;
    min-height: 100vh;
}

.right-div {
    flex: 45%;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    /* background-color: palegreen; */
}

.right-div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 70%;
    height: 100vh;
}

form input[type="email"],
form input[type="submit"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.top-div {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #ab2656;
    line-height: 1.75;
    justify-content: center;
}

.top-div:hover {
    cursor: pointer;
    text-decoration: underline;
}

.lic {
    color: #4D4D4D;
    line-height: 1.5;
}

.lice {
    display: flex;
    border-radius: 6px;
}

.wel {
    color: #444444;
    font-weight: 700;
    line-height: 1.334;
}

.box {
    display: block;
    width: 2.5rem;
    height: .25rem;
    margin-top: .75rem;
    background-color: rgb(171 11 75);
}

.pswd {
    display: flex;
    justify-content: space-between;
}

.under-mail {
    margin-top: 3px;
    /* text-align: left; */
    line-height: 1.6;
}

.space {
    background-color: #AB0B4b;
    margin: 12px 0px 0px;
    width: 10px;
    height: 1px;
}

input {
    color: #ab2656;
    height: 100%;
    width: 100%;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    border-radius: 3px;
    box-sizing: border-box;
}

.alati {
    display: flex;
    justify-content: center;
}

.login-btn {
    color: #f2f2f2;
    background-color: #ab2656;
}

.login-btn:hover {
    cursor: pointer;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: right;
}

p a {
    text-decoration: none;
    color: #ab2656
}