* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.whole-cont {
    height: 100vh;
    display: flex;
}

.left-cont {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-div {
    flex: 1;
}

.mid-div {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.form input {
    border-bottom: 2px solid black;
    outline: none;
    border-radius: 0;
}

.form, input, button {
    font-size: large;
    min-width: 600px;
    line-height: 3.5;
    border-radius: 30px;
    padding: 10px;
    border: none;
    outline: none;
}

.form button {
    min-width: 300px;
    box-shadow: 3px -3px 3px black;
    background-color: aquamarine;
}

.social {
    flex: 1;
    display: flex;
    text-align: center;
    font-size: x-large;
}


.sub {
    flex: 3;
}


.right-cont {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(38, 143, 108, 0.591);
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: xx-large;
    color: white;
}

.btn, button {
    border-radius: 40px;
    display: flex;
    justify-content: center;
    min-width: 300px;
    line-height: 2;
    box-shadow: 3px 3px 3px black;
}